@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

:root {
    --primary-color: #3498db;
    --primary-color-hover: #4fa5df;
    --input-height: 50px;
    --brand: #f11717;
    --dark: #092032;
    --body: #516171;
    --border: rgba(0, 0, 0, 0.08);
    --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 10000;

}

.header button {
    font-family: "Georgia", sans-serif;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: var(--brand);
}

body {
    font-family: "Barlow", sans-serif, ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(248, 48, 3, 0.429), rgba(254, 48, 2, 0.881)), url(/public/images/project4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/***************** /

    Global Styles

/******************/
h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: 700;
    color: var(--dark);
}

a {
    color: var(--primary-color);
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: var(--brand);
}

.flex {
    display: flex;
    margin-bottom: 1.5rem;
}

.justify-between {
    justify-content: space-between;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.text-brand {
    color: var(--brand) !important;
}


input[type="checkbox"] {
    margin-right: 1rem;
    transform: scale(1.5);
}

/* imagen */
.modal-img {
    width: 20%;
    padding: 1.5rem 1rem;
}

/*****************

    Colors

******************/
.mesage {
    color: rgb(207, 0, 0);
}

.fa-facebook {
    color: var(--primary-color);
}

.fa-google {
    color: #dd4b39;
}

/*****************

    buttons

******************/

.btn {
    padding: 8px 26px;
    text-decoration: none !important;
    border-radius: 5px;
    color: var(--body);
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
}

.btn-brand {
    border-color: var(--brand);
    background-color: var(--brand);
    color: #fff;
    text-decoration: none !important;
}

.btn-brand:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
    text-decoration: none !important;
}

.btn-tab {
    width: 50%;
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
}

.btn-tab.active {
    border-top: 3px solid var(--brand);
    background-color: #fff;
}

.btn-oauth {
    padding: 1rem 3rem;
    font-size: 1.25rem;
    color: rgb(92, 92, 92);
    border-radius: 5px;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn-register {
    width: 100%;
    height: var(--input-height);
    background-color: var(--brand);
    color: #f3f3f3;
    font-size: 1.5rem;
    border-radius: 5px;
}

.btn-register:hover {
    background-color: #dd4b39;
}

/*****************

    Registration Form

******************/
.registration-form {
    width: 50%;
    border: 1px solid rgb(192, 23, 23);
    box-shadow: rgba(28, 28, 169, 0.25) 0px 2px 5px -1px,
        rgba(250, 241, 241, 0.3) 0px 1px 3px -1px;
    text-align: center;
    font-size: 1.25rem;
    background-color: #fff;
}

.registration-form .header {
    display: flex;

}

.registration-form .body {
    padding: 2rem 1rem;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

.bar {
    position: relative;
    margin: 2.4rem 0;
    border-top: 1px solid var(--brand);
}

.bar::before {
    /* content: "ó"; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -53%);
    padding: 0 1rem;
    background-color: #fff;
}

/*****************

    input elements

******************/

.input-group {
    position: relative;
    margin: 1rem 0;
    height: var(--input-height);
}

.input-group .input-elem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--brand);
    border-radius: 5px;
    padding: 0 1.5rem;
    font-size: 1.25rem;
    outline: none;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    padding: 0 0.5rem;
    transition: all 0.2s ease-in-out;
    user-select: none;
    pointer-events: none;
}

.input-group .input-elem:focus {
    border: 2px solid var(var(--brand));
}

.input-group .input-elem:not(:placeholder-shown)+label {
    top: 0;
    background-color: #fff;
    color: rgb(90, 90, 90);
}

.input-group .input-elem:focus+label {
    top: 0;
    background-color: #fff;
    color: var(var(--brand));
}

.eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    right: 1rem;
    color: #888;
    cursor: pointer;
}

.eye:hover {
    color: var(--brand);
}

.agreements {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.reg_link {
    display: inline-block;
    color: var(--primary-color);
    margin: 1.5rem 0 0.5rem;
}

/*****************

ripple effect

******************/
.btn-ripple {
    position: relative;
    overflow: hidden;
}

.ripple {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: rippleAnimate 0.4s ease-out;
}

@keyframes rippleAnimate {
    from {
        width: 0px;
        height: 0px;
    }

    to {
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}

/* x de cerrar */
.close {
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    text-decoration: none;
    /* color: var(--dark); */
}

/* .menuAnterior {
  color: #fff;
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-size: 2rem;
  text-decoration: none;
} */

/*========= WHATSAPP BUTTON =======*/
.wsp-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.btn_wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    box-shadow: -1px 6px 14px 0px rgba(0, 0, 0, 0.75);
    transition: .3s;
}

.btn_wsp:hover {
    background: #fff;
    color: #0df053;
    transform: translateY(-10px);
}

/*****************

responsive design

******************/

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px) {

    .registration-form {
        width: 600px;
    }

    .flex {
        flex-direction: column;
    }

    .btn-oauth {
        margin-bottom: 0.5rem;
    }

    .btn-tab {
        /* padding: 1rem; */
        padding: 0;
    }

    h1 {
        font-weight: 10;
    }
}

/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {
    h1 {
        font-weight: 5;
    }

    .registration-form {
        width: 390px;
    }

    .flex {
        flex-direction: column;
    }

    .btn-oauth {
        margin-bottom: 0.5rem;
    }

    .btn-tab {
        /* padding: 1rem; */
        padding: 0;
    }
}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 360px) {
    h1 {
        font-weight: 3;
    }

    .registration-form {
        width: 295px;
    }

    .flex {
        flex-direction: column;
    }

    .btn-oauth {
        margin-bottom: 0.5rem;
    }

    .btn-tab {
        /* padding: 1rem; */
        padding: 0;
    }
}

/*****************

responsive design

******************/
